@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  font-family: "Inter", sans-serif;
  font-size: 62.5;
  font-weight: 400;

  --primary-color: hsla(332, 90%, 33%, 1);
  --light-green: hsla(159, 46%, 71%, 1);
  --dark-green: hsla(153, 79%, 8%, 1);
  --white-greyish: hsla(210, 20%, 96%, 1);
  --black: hsla(0, 89%, 4%, 1);
}

body {
  font-size: 1.6rem;
}

.btn {
  padding: 1rem;
  font: inherit;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  border-radius: 0.3rem;
  border: 1px solid var(--primary-color);
}
